<h1>DfE Sign-in :: Rails Example</h1>
<p>This sample todo's application written in Rails shows how to protect endpoints with authtication using DfE Sign-in (via OpenID Connect).</p>


<a href="/todos">Go to todos (This resource requires authentication)</a>